<html>

<head>
<script src="../javascripts/jquery-1.11.2.js"></script>
<script src="../javascripts/index.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
<title>hackBingo</title>
</head>
<body>

<h1 id="title"> hackBingo </h1>

<table border="1" id="table">

  <tr>

  <td><p>Mike Swift shows up</p></td>
  <td><p>Sam Agnew wears a hat</p></td>
  <td><p>"What's an API?"</p></td>
  <td><p>Drink minimum of 3 redbulls</p></td>
  <td><p>Someone playing Super Smash Bros.</p></td>

  </tr>

  <tr>

  <td><p>"Node.js is the future!"</p></td>
  <td><p>"How do I make an android app?"</p></td>
  <td><p>You actually finish your project</p></td>
  <td><p>You forgot a semicolon</p></td>
  <td><p>Get minimum 3 t-shirts</p></td>

  </tr>

  <tr>

  <td><p>Spend first two hours getting set up</p></td>
  <td><p>"What's the wi-fi"</p></td>
  <td id="free"><p>Free Space</p></td>
  <td><p>"It's 2am, let's get started"</p></td>
  <td><p>"I know some Java"</p></td>

  </tr>

  <tr>

  <td><p>Abandon project and start new one</p></td>
  <td><p>"We're cross platform"</p></td>
  <td><p>"Why is this working?"</p></td>
  <td><p>Have more than 20 tabs open</p></td>
  <td><p>Haven't used deodorant in the past 24 hours</p></td>

  </tr>

  <tr>

  <td><p>"It's like the uber of ________"</p></td>
  <td><p>"I'm making an oculus rift myo armband drone app"</p></td>
  <td><p>"I only use linux"</p></td>
  <td><p>Fall asleep at laptop</p></td>
  <td><p>"I'm making a social media platform for _______"</p></td>

  </tr>

</table>

</body>
</html>
