td{ width: 50px;
	height: 50px;
	background-color: #ffffff;
}


body {
	background-image: url("../images/pizza.gif");
	background-size: 200px 200px;
}

#title{
	font-size: 110px;
	text-align: center;
	color: HotPink;
	margin-bottom: 0px;
	background-color: white;
	width: 500px;
	margin-left:auto;
    margin-right:auto;
}

#table{
	text-align: center;
	margin-left:auto;
    margin-right:auto;
    width: 500px;
    height: 500px;
    margin-top: 0px;
}

#free{
	background-color: yellow;
}
